	body {
	font-size: 15px;
	margin: 40;
	padding: 20;
	background: white;
	font-family: 'raleway', sans-serif;
	color: black;
}

h1 {
	font-size: 50px;
	font-family: 'bitter', sans-serif;
}

h2 {
	font-size: 37px;
	font-family: 'bitter', sans-serif;
}
h3 {
	font-size: 25px;
	font-family: 'raleway', sans-serif;
	color: #9f9387;
}
h4 {
	font-size: 20px;
	font-family: 'raleway', sans-serif;
	color: #652c48;
}

h5,
h6 {
	color: #dd845a;
}

header {
	text-align: middle;
}

.feature {
    background-image: url(../images/Hero.jpg);
    background-position: top center;
    background-size: cover;
    color: white;
    text-shadow: 1px 1px 3px black;
    min-height: 500px;
    text-align: center;
}



text-align: center;
}

.feature .btn {
	text-shadow: none;
}

.logo {

	margin:0 auto;
	text-align:center;
	padding: 15px 0;
}




.promo,
.footer-map {
	border-width: 1px;
	border-color: black;
	border-top-style: solid;
	border-bottom-style: solid;
	margin-top: 20px;
	margin-bottom: 20px;
}

.promo,
.promo h3,
.promo a:link,
.promo a:visited,
.promo a:hover,
.promo a:active {
	color: white;
	text-shadow: 1px 1px 8px black;
	text-decoration: none;
}

.promo-item {
	height: 200px;
	line-height: 180px;
	text-align: center;
}

.promo-item:hover {
	background-size: 110%;
	border: 5px solid black;
	line-height: 170px;
}

.promo-item h3 {
	font-size: 40px;
	display: inline-block;
	vertical-align: middle;
}

.item-1 {
	background: gray;
}

.item-2 {
	background: #f8822d;
}

.item-3 {
	background: #61b4e4;
}

.item-1,
.item-2,
.item-3 {
	background-size: cover;
	background-position: 50% 50%;
}

.featured-product>img,
.featured-product>a>img {
	height: 150px;
}

.featured-product h3 {
	color: #dd845a;
	font-size: 18px;
}

.featured-product .price {
	color: #dd845a;
	font-size: 18px;
}

.featured-product .price s {
	color: #999;
	font-size: 18px;
}

.footer-map {
	height: 300px;
	width: 100%;
	background: url('../images/map.jpg');
	background-size: cover;
	border-color: #ccc;
}

.footer-info {
	padding: 20px 0;
	background: #f7f7f7;
}

.footer-info,
.footer-info a:link,
.footer-info a:hover,
.footer-info a:focus,
.footer-info a:visited {
	color: #959595;
}

.footer-info h3 {
	color: black;
	font-size: 18px;
}

.footer-info-item {
	padding: 0px 20px;
}

footer .small-print {
	background-color: #gray;
	padding: 30px 0;
	text-align: center;
}

#two_column {
    background-color: #gray;
    border: 1px black solid;
    padding: 20px;
}

#left {
    background-color: #gray;
    border: 1px black solid;
    padding: 20px;
}

#right {
    background-color: #gray;
    border: 1px black solid;
    padding: 20px;
}

#left {
    background-color: #487288;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 30%;
}

#right {
    background-color: #487288;
    border: 1px black solid;
    padding: 20px;
    float: right;   
    width: 62%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

/*
*************************** 
Override Bootstrap Classes 
***************************
*/


/* Links */

a {
	color: white;
	text-decoration: none;
}

a:hover,
a:focus {
	color: gray;
	text-decoration: underline;
}


/* Navbar */

.nav ul {
	list-style: none;
	background-color: #58b4e5;
	text-align: center;
	padding: 0;
	margin: 0;
}

.nav li {
	font-family: 'bitter', sans-serif;
	font-size: 1.2em;
	line-height: 40px;
	height: 40px;
	border-bottom: 1px solid #888;
}

.nav a {
	text-decoration: none;
	color: #fff;
	display: block;
	transition: .3s background-color;
}

.nav a:hover {
	background-color: #005f5f;
}

.nav a.active {
	background-color: #fff;
	color: #444;
	cursor: default;
}

.shelf2 {
	display: inline;
	background: #fff;
	position: relative;
}

.shelf3 {
	display: inline;
	background: #fff;
	position: relative;
}

.column-left {
	float: left;
	width: 30%;
}

.column-right {
	float: right;
	width: 30%;
}

.column-center {
	display: inline-block;
	width: 30%;
}

.twocolumn-left {
	float: left;
	width: 50%;
}

.twocolumn-right {
	float: right;
	width: 50%;
}

.threecolumn-center {
	display: inline-block;
	width: 100%;
}

@media screen and (min-width: 600px) {
	.nav li {
		width: 200px;
		border-bottom: none;
		height: 50px;
		line-height: 50px;
		font-size: 1.4em;
	}
	/* Option 1 - Display Inline */
	.nav li {
		display: inline-block;
		margin-right: -4px;
	}
	/* Primary Buttons */
	.btn-primary {
		color: #fff;
		background-color: #f8822d;
		border-color: #f8822d;
	}
	.btn-primary:focus,
	.btn-primary.focus {
		color: #fff;
		background-color: darkorange;
		border-color: darkorange;
	}
	.btn-primary:hover {
		color: #fff;
		background-color: gray;
		border-color: gray;
	}
	.btn-primary:active,
	.btn-primary.active,
	.open>.dropdown-toggle.btn-primary {
		color: #fff;
		background-color: darkorange;
		border-color: darkorange;
	}
	.btn-primary:active:hover,
	.btn-primary.active:hover,
	.open>.dropdown-toggle.btn-primary:hover,
	.btn-primary:active:focus,
	.btn-primary.active:focus,
	.open>.dropdown-toggle.btn-primary:focus,
	.btn-primary:active.focus,
	.btn-primary.active.focus,
	.open>.dropdown-toggle.btn-primary.focus {
		color: #fff;
		background-color: darkorange;
		border-color: darkorange;
	}
	.btn-primary.disabled,
	.btn-primary[disabled],
	fieldset[disabled] .btn-primary,
	.btn-primary.disabled:hover,
	.btn-primary[disabled]:hover,
	fieldset[disabled] .btn-primary:hover,
	.btn-primary.disabled:focus,
	.btn-primary[disabled]:focus,
	fieldset[disabled] .btn-primary:focus,
	.btn-primary.disabled.focus,
	.btn-primary[disabled].focus,
	fieldset[disabled] .btn-primary.focus,
	.btn-primary.disabled:active,
	.btn-primary[disabled]:active,
	fieldset[disabled] .btn-primary:active,
	.btn-primary.disabled.active,
	.btn-primary[disabled].active,
	fieldset[disabled] .btn-primary.active {
		background-color: sandybrown;
		border-color: sandybrown;
	}